.divmaincontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.person{
    background-color: var(--black10);
    padding: 5%;
    margin: 5%;
    text-align: center;
    border-radius: 15px;
    max-width: 300px;
    min-width: 200px;
    margin: 2%;
}

main img{
    width: 100%;
    margin-bottom: 4%;
}

.imgperson{
    width: 50%;
    border-radius: 100%;
}

.stars{
    width: 60%;
}

#Testimonials{
    border-bottom: var(--purple) 5px solid;
}