.main-content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    font-size: 20px;
}

main {
    margin-top: 15%;
}

.left-column {
    width: 80%;
}

.BackgroundImage {
    position: relative;
    width: 100%;
    top: 0px;
    object-fit: scale-down;
}

.divBackgroundImage {
    display: flex;
    justify-content: end;
    margin-top: 5%;
}

.download-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30%;
    margin-top: 20px;
}

.download-item {
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    justify-content: left;
}

#Download {
    border-bottom: var(--purple) 5px solid;
}

@media (min-width: 800px) {
    .main-content {
        flex-direction: row;
        margin-left: 10%;
        font-size: 30px;
    }

    .left-column {
        width: 40%;
    }

    .BackgroundImage {
        position: absolute;
        right: 0;
        top: 89;
        width: 50%;
        max-width: 800px;
    }

    .divBackgroundImage {
        display: block;
        justify-content: normal;
        margin-top: 0;
    }
}
