/*Allgemeines CSS gültig für alle Seiten*/
:root {
    --white-purple: #e9e5fe;
    --light-purple: #9c8df4;
    --purple: #6C5FB1;
    --gelb: #EDC43D ;
    --black: #232127;
    --black75: #5a595d;
    --black50: #919093;
    --black15: #dededf;
    --black10: #f5f5f5;
    --error: #d46868;
  }

body{
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

main{
    width: 80%;
    margin: 3% 0 10% 10%;
}