/*Allgemeines CSS gültig für alle Seiten*/
/*Farbenvariablen Definieren*/
:root {
    --white-purple: #e9e5fe;
    --light-purple: #9c8df4;
    --purple: #6C5FB1;
    --yellow: #EDC43D ;
    --black: #232127;
    --black75: #5a595d;
    --black50: #919093;
    --black15: #dededf;
    --black10: #f5f5f5;
    --error: #d46868;
  }

/*Standart Schriftart + Standartwerte entfernen*/
body{
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/*Seiteninhalt (Ohne Header & Footer) Stylen*/
main{
    width: 80%;
    margin: 3% 0 10% 10%;
}

/*Untertitel Violett*/
h2{
    color: var(--purple);
}

/*Hier beginnt das CSS für den Header & Footer*/

/*Footer*/
footer{
    background-color: var(--purple);
    color: white;   
    padding: 20px 0;
    width: 100%;
}

.FooterContent div{
    text-align: center;
    margin: 1% 0;
}

.FooterContent{
    align-items: center;
    gap: 20px;
    padding: 2% 0;
}

.FooterContent p{
    margin: 0;
}

.Kontakt{
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: var(--black10);
  }

/*Header*/
header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 40px; 
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.headercontent{
    padding: 0;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex; 
}

header div img {
    display: block;
    padding: 15px 0;
}

nav {
    display: flex;
    margin-left: 40px;
    align-items: center;
    position: relative;
}

.nav_links{
    list-style: none;
    display: none;  
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 100%;
    right: 50%;
    background-color: white;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.nav_links li{
    padding: 30px 0;
    font-size: 20px;
    border-bottom: solid 5px transparent;
}
.nav_links li:hover{
    border-bottom: var(--purple) 5px solid;
}

#check:checked ~ .nav_links {
    display: flex;
   }

#check{
    display: none;
}

.checkbtn{
    display: flex;
}

.nav_links a {
    text-decoration: none;
    color: var(--black); 
    font-family: Arial, sans-serif;
    font-weight: normal;
    display: block; 
    padding: 0 20px; 
}

@media only screen and (min-width: 800px) {
    .FooterContent{  
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    .nav_links{
        display: flex;
        flex-direction: row;
        box-shadow: none;
        position: static;
        width: auto;
        background-color: transparent;
        justify-content: end;
    }

    .nav_links{
        white-space: nowrap;
    }

    nav input{
        display: none;
    }
    .checkbtn{
        display: none;
    }

    .nav_links li{
        margin-bottom: 0;
        font-size: auto;
    }
}
