.screen {
  width: 100%;
  height: auto;
}

.Testimonials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person{
  background-color: var(--black10);
  padding: 5%;
  text-align: center;
  border-radius: 15px;
  max-width: 300px;
  min-width: 200px;
  margin: 2%;
} 

.person img {
  height: auto;
  width: 100%;
  margin-bottom: 4%;
}

.main{
  width: 80%;
    margin: 3% 0 0% 10%;
}

.main img{
  width: 100%;
}

.imgperson{
  width: 50%;
  border-radius: 100%;
}

.stars{
    width: 60%;
}

button {
  background-color: #6C5FB1;
  border: none;
  color: white;
  text-align: center;
  font-size: 36px;
  display: inline-block;
  padding: 18px 40px;
  border-radius: 40px;
  width: 400px;
  
  margin: 10 auto;
  display: block;
}

h1{
  font-size: 70px;
  text-align: center;
}

.Titel {
  font-size: 100px;
  text-align: center;
}

p{
  font-size: 24px;
  text-align: center;
}

hr{
  height: 5px;
  width: 210px;
  background-color: #6C5FB1 ;
}

.Action {
  right: 0;
  bottom: 0;
  margin-bottom: 0;
}