.Testimonials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person{
  background-color: var(--black10);
  padding: 5%;
  text-align: center;
  border-radius: 15px;
  max-width: 300px;
  min-width: 200px;
  margin: 2%;
} 

.person img {
  height: auto;
  width: 100%;
  margin-bottom: 4%;
}

.main{
  width: 80%;
    margin: 3% 0 10% 10%;
}

.main img{
  width: 100%;
  margin-bottom: 4%;
}

.imgperson{
  width: 50%;
  border-radius: 100%;
}

.stars{
    width: 60%;
}